



/* 	Copyright Adam Gedney 8/05/13
contact: adam.gedney@gmail.com
http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/

/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}







/*--------------------------------------End CSS Reset / Start General-------------------------------*/


body{
	background: url("../images/crdbd.png")#efefef;
	color: #c7c0b6;
	font: 62.5% "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

#arrow{
	display: block;
	margin-left: 160px;
}

h1{
	font-size: 3.9em;
	line-height: 1.1em;
	margin-top: 30px;
}

h2{
	font-size: 2.6em;
	line-height: 1.14em;
}

h3{
	font-size: 1.6em;
	line-height: 1.8em;
}

p, ul, dl{
	font-size: 1.6em;
	line-height: 1.6;
	margin-bottom: 20px;
}

ul{
	line-height: 1.3em;
}

a{
	text-decoration: none;
	color: #08298A;
}

object:focus { outline:none; }

.bold{
	font-weight: 700;
}

.red-highlight{
	color:#bf767e;
}

img.image {
	max-width: 100%;
}

/*--------------------------------------End General / Start Main------------------------------------*/


header{
	/*opacity: .7;
	background: url("../images/crdbd.png")#efefef;*/
	padding: 0 40px;
	/*height: 70px;*/
	/*border-bottom: solid 1px #442f52;*/
}

.logo{
	max-width: 1140px;
	margin: 0 auto;
}

.row:nth-child(1){
 margin-bottom: 0;
}

.landing{
	max-width: 1140px;
	margin: 0 auto;
	/*height: 1100px;*/
	padding-top: 28px;
}

.content{
	font-weight: 100;
	text-align: center;
	margin: 130px 0 0;
	padding-left: 40px;
	
}

.content h1, h2{
	margin-bottom: 20px;
	font-weight: 100;
	color: #424242;
}

#wrapper {
	float: none;
	max-width: 731px;
	margin: 0 auto;
}

.body-copy{
	color: #686868;
	max-width: 800px;
	margin: 25px auto 0;
	padding: 0 5%;

}
.body-copy h2{
	color: #686868;
	margin-bottom: 8px;
}
/*
.buttons{
	overflow: hidden;
	display: block;
	width: 380px;
	margin: 34px auto 200px;
}*/

a.button{
	display: inline-block;
	/*float: left;*/
	width: 175px;
	height: 50px;
	margin: 34px auto 0;
	background: #bf767e; 
	line-height: 2.9em;
	padding-left: 11px;
	font-size: 1.8em;
	font-weight: 100;
	color: #efefef;
}

a.button:hover{
	opacity: .6;
	color: #fff;
}

a.donate-button{
	display: inline-block;
	/*float: left;*/
	width: 175px;
	height: 50px;
	margin-top: 34px;
	margin-left: 20px;
	background: #bf767e; 
	line-height: 2.9em;
	padding-left: 50px;
	font-size: 1.8em;
	font-weight: 100;
	color: #efefef;
}

a.donate-button:hover{
	opacity: .6;
	color: #fff;
}

footer{
	height: 50px;
}

.copyright{
	width: 170px;
	margin: 30px auto 30px;
}

.copyright p{
	font-weight: 100;
	color: #969696;
}

/*-----------------------------Media Queries-----------------------*/


@media ( max-width : 429px ) {

.buttons a.donate-button{
	margin-left: auto;
	margin-right: auto;
}

}


